:root {
    // colors
    --font-color: #2f3542;
    --error-color: #b33939;

    // font-sizes
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 30px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--font-color);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
